/********************************* HEADER *********************************/
#navber {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 1rem;
  order: 1;
}

.logo img {
  width: 220px;
}

#navber .social {
  order: 2;
  margin-bottom: 2rem;
}

#navber ul {
  order: 3;
}

/* SHOWCASE */
#showcase {
  margin-top: -10rem;
  margin-left: 6rem;
  margin-right: 30%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

/******************************** GAMES SECTION ********************************/
#games {
  height: 550px;
}

.games-card {
  top: 30%;
  left: 3rem;
  right: 4rem;
  height: 555px;
  padding-left: 1rem;
}

.games-card .game {
  display: flex;
  padding: .4rem 1rem;
  align-items: center;
  margin-bottom: 0.1rem;
}

.science-content .science-btn {
  margin: 1rem;
  margin-bottom: 15%;
}

/********************************* AWARDS SECTION **********************************/

#awards {
  height: 1050px;
}

#awards .container {
  padding-top: 23rem;
}

.reviews-content {
  padding: 0 5rem;
}

/********************************** NEWS SECTION **********************************/
#news {
  height: 100%;
}

#news .container {
  transform: skewY(1.5deg);
  padding: 10rem 3rem 5rem;
  height: 100%;
}

/********************************** CONTACT SECTION **********************************/
#contact {
  height: 800px;
}


#contact .contact-card-info .contact-fly-img {
  position: absolute;
  right: 11%;
  top: -25%;
}

/********************************** FOOOTER SECTION **********************************/
#footer {
  background: var(--main-color);
  height: 100%;
  padding-bottom: 2rem;
}


/********************************** MEDIA FOR IPad **********************************/
@media (max-width: 980px) {

  /********************************* HEADER *********************************/
  .logo {
    margin-top: -1rem;
  }

  .logo img {
    width: 200px;
  }

  #navber .social {
    margin-bottom: 1.5rem;
  }

  /* SHOWCASE */
  #showcase {
    margin-top: -7rem;
    margin-left: 5%;
    margin-right: 30%;
  }

  #showcase .showcase-content p {
    padding-right: 5rem;
  }

  /******************************** GAMES SECTION ********************************/
  #games {
    height: 410px;
  }

  .games-card {
    overflow: hidden;
    left: 5rem;
    right: 5rem;
    height: 400px;
  }

  .science-card,
  .science-content {
    display: none;
  }

  .games-card .game {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    align-items: center;
    margin-bottom: 0rem;
  }

  .games-card .game p {
    margin-left: 0rem;
  }

  .games-card .games-card-flex {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .games-card .outlinebutton {
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
  }

  /********************************* AWARDS SECTION **********************************/

  .reviews-content {
    padding: 0 2rem;
  }

  #awards .reviews-content .review-card {
    margin: 1.5rem 2rem 0 1rem;
    padding: 1.7rem;
  }

  /********************************** NEWS SECTION **********************************/

  #news .container {
    transform: skewY(1.5deg);
    padding: 15% 9% 11%;
    height: 100%;
  }

  #news .news-flex {
    display: unset;
  }

  .news-button {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  /********************************** CONTACT SECTION **********************************/

  #contact {
    height: 740px;
  }

  #contact .container {
    padding-top: 23%;
  }

  /* down card just for shap */
  #contact .contact-card {
    height: 360px;
  }

  /* up content card */
  #contact .contact-card-info {
    margin-left: 1rem;
    padding-left: 3rem;
    height: 430px;
    padding-bottom: 3rem;
  }

  #contact .contact-card-info .discord-info>div .join-discord {
    display: unset;
  }

  #contact .contact-card-info .discord-title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    margin-top: .4rem;
  }

  #contact .contact-card-info .discord-info>div .join-discord i {
    font-size: 4rem;
  }

  #contact .discord-btn {
    text-align: left;
    margin-top: 0rem;
  }


  /* mail card */
  #contact .contact-card-info .mail-card {
    height: 200px;
    width: 400px;
    right: 1rem;
    bottom: -1rem;
    padding: 1rem .7rem 1rem 1rem;
  }

  #contact .contact-card-info .mail-card h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    padding-left: .6rem;
  }

  #email {
    padding: 0.5rem;
    padding-left: 1.5rem;
    height: 50px;
  }


  #contact .contact-card-info .contact-fly-img {
    position: absolute;
    right: 10%;
    top: -25%;
  }


}


/********************************** MEDIA FOR IPad LANDSCAPE **********************************/
@media (max-width: 1030px) and (max-height:770px) {

  /********************************* HEADER *********************************/
  #home {
    height: 110vh;
  }

  .logo {
    margin-top: -2rem;
  }

  #navber .social {
    margin-top: -1rem;
  }

  /* SHOWCASE */
  #showcase {
    margin-top: 0;
    margin-left: 3%;
  }

  #showcase .showcase-content p {
    padding-right: 30%;
  }
}

/********************************* SMARTPHONE ALERT *********************************/
@media (max-width: 825px) and (max-height:825px) {

  /* ALL SECTION DISPLAY NONE */
  #home,
  #games,
  #awards,
  #news,
  #contact,
  #footer {
    display: none;
  }

  /* SMARTPHONE SECTION IN */
  #smartphone {
    box-sizing: unset;
    display: unset;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, var(--main-color), #a91d01);
    text-align: center;
  }

  #smartphone h1 {
    margin-bottom: 1rem;
    font-size: 2.3rem;
  }

  #smartphone .warning {
    margin-bottom: 1.1rem;
    max-width: 300px;
    padding: 0rem 2rem;
  }

  #smartphone .not-yet {
    font-size: .8rem;
    font-weight: 800;
    opacity: .6;
  }
}